<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="nav_controller" output="screen" ns="aero">
    <rosparam file="$(find aero_srr_bringup)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find aero_srr_bringup)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find aero_srr_bringup)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find aero_srr_bringup)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find aero_srr_bringup)/config/local_planner.yaml" command="load" />
    <param name="clearing_rotation_allowed" value="false"/>
    <!--<remap from="move_base" to="move_base_raw"/>-->
  </node>
  <!--<node pkg="srr_carrot_planner" type="move_base_carrot_planner.py" name="move_base_carrot_planner" ns="aero">
    <param name="max_carrot_distance" value="1.0"/>
  </node>-->
  <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" ns="aero">
    <param name="output_frame" value="odom"/>
    <param name="tf_prefix" value="aero"/>
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="true"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
    <remap from="imu_data" to="imu/data"/>
    <remap from="vo" to="upper_stereo/stereo_odometer/odometry"/>
  </node>
  <node pkg="srr_search" type="spiral_search_server.py" name="spiral_search_server" ns="aero">
  </node>
</launch>
