<launch>
  <node pkg="move_base" type="move_base" respawn="false" name="nav_controller" output="screen" ns="aero">
    <rosparam file="$(find aero_srr_bringup)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find aero_srr_bringup)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find aero_srr_bringup)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find aero_srr_bringup)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find aero_srr_bringup)/config/local_planner.yaml" command="load" />
  </node>
  <node pkg="robot_localization" type="ekf_localization_node" name="robot_localization" ns="aero" output="screen">

    <param name="odom0" value="odom"/>
    <rosparam param="odom0_config">[true, true, false, false, false, true, true, false, false, false, false, true]</rosparam>
    <rosparam param="odom0_differential">[false, false, false, false, false, false]</rosparam>

    <param name="imu0" value="imu/data"/>
    <rosparam param="imu0_config">[false, false, false, true, true, true, false, false, false, false, false, false]</rosparam>
    <rosparam param="imu0_differential">[true, true, true, false, false, false]</rosparam>

    <!--<param name="odom1" value="stereo_odometer/odometry"/>
    <rosparam param="odom1_config">[true, true, true, true, true, true, true, true, true, true, true, true]</rosparam>
    <rosparam param="odom1_differential">[true, true, true, true, true, true]</rosparam>-->


    <param name="odom_frame" value="aero/odom"/>
    <param name="base_link_frame" value="aero/base_footprint"/>
  </node>
</launch>
